<h1>
  INDEX!
</h1>

<ul>
  <% @pets.each do |pet| %>
  <li>
    <%= pet.name %>
  </li>
  <li>
    <%= pet.description %>
  </li>
  <li>
    <%= pet.found_on %>
  </li>
  <li>
    <%= pet.category %>
  </li>
  <%= link_to "Edit", edit_pet_path(pet), class: "btn btn-primary" %>
  <%= link_to "Show", pet_path(pet), class: "btn btn-success" %>
  <%= link_to "Delete", pet_path(pet), method: :delete, class: "btn btn-danger" %>


  <% end %>
</ul>
